<html>
    <head>
        {% if title %}
        <title>{{ title }} - crawler</title>
        {% else %}
        <title>Web Table Crawler</title>
        {% endif %}
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div>
            Web Table Crawler:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('crawl') }}">Crawl</a>
            <a href="{{ url_for('showpreset') }}">ShowPreset</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>