<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h1>Url</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.url.label }}<br>
            {{ form.url(size=32) }}<br>
            {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}
{% endblock %}